# folders
.settings/
bin/
doc/
jar/
notes/
out/
report/

# hidden files
.attach_*
.classpath
.idea
.project

# files
*~
*.iml
*.ipr
*.iws
*.lock
*.properties
*.xml

# ant script is tracked
!build.xml
